<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:mailsender="http://typo3.org/ns/Hn/MailSender/ViewHelpers"
      data-namespace-typo3-fluid="true">
<div class="formeditor-inspector-element">
    <div class="form-group">
        <label class="form-label" data-random-id data-random-id-attribute="for" data-random-id-number="1">
            <span data-template-property="label">Sender address</span>
        </label>
        <div class="form-control-wrap">
            <div data-identifier="inspectorEditorControlsWrapper">
                <mailsender:form.senderAddressSelect
                    data="{template-property: 'selectOptions', random-id: '', random-id-attribute: 'id', random-id-number: '1'}"
                    class="form-select"
                    prependOptionLabel="--- Select sender address ---"
                    prependOptionValue="" />
            </div>
        </div>
        <div class="form-text">Select a validated sender address from the list.</div>
    </div>
</div>
</html>
